.showMeEmos {
    display: none;
    height: 100%;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 505px;
    font-size: 20px;
    border: 1px solid #ccc;
    word-break: break-all;
    word-wrap: break-word;
    cursor: pointer;
}

.showMeEmos span {
    margin: 2px;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.showMeEmos span:focus {
    outline: none;
}

.emo-categories {
    display: none;
    width: 505px;
}

#showClickedEmo {
    margin: 10px 0;
    height: 30px;
    padding: 5px 0;
    width: 100%;
}

#clear-emos,
#toggleEmos {
    cursor: pointer;
}

#showClickedEmo span {
    height: 100%;
    display: inline-block;
    position: relative;
    top: 2px;
    padding: 2px;
}

.input-wrapper {
    position: relative;
}

.show-btn {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.emo-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
}

button {
    width: 50px;
    overflow: hidden;
}
